<a href="https://colab.research.google.com/github/Chaitanyadasari/samVikas/blob/main/samvikas_hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [7]:
df = pd.read_csv('samvikas_data.csv')

In [8]:
df

   Name  Months  Height Gender  ...  Feature 5  Feature 6     Location  Remarks
0     A       3       4      M  ...        NaN        NaN           AP      NaN
1     B       4       2     M   ...        NaN        NaN     Gujarath      NaN
2     C       5       2      F  ...        NaN        NaN           AP      NaN
3     D       6       3      F  ...        NaN        NaN    Telangana      NaN
4     E       7       3      F  ...        NaN        NaN       Orrisa      NaN
5     F       3       4      M  ...        NaN        NaN        Bihar      NaN
6     G       5       5      M  ...        NaN        NaN   Maharastra      NaN
7     H       6       2      M  ...        NaN        NaN  West Bengal      NaN
8     I      12       1      F  ...        NaN        NaN        Bihar      NaN
9     J      15       5      M  ...        NaN        NaN           SD      NaN
10    K       8       5      M  ...        NaN        NaN   Tamil nadu      NaN
11    L       5       5      F  ...        NaN        NaN           SD      NaN
12    M       9       8      F  ...        NaN        NaN  West Bengal      NaN
13    N      10       8      M  ...        NaN        NaN           AP      NaN
14    O      10       1      F  ...        NaN        NaN   Tamil nadu      NaN
15    P      12       3      M  ...        NaN        NaN    Rajasthan      NaN
16    Q       6       5      F  ...        NaN        NaN        Assam      NaN
17    R      11       3      F  ...        NaN        NaN        Delhi      NaN
18    S      14       2      M  ...        NaN        NaN    Karnataka      NaN
19    T      11       1      F  ...        NaN        NaN       Punjab      NaN
20    U      19       8      M  ...        1.0        1.0           UP      NaN

[21 rows x 13 columns]

In [9]:
df.head()

  Name  Months  Height Gender  ...  Feature 5  Feature 6   Location  Remarks
0    A       3       4      M  ...        NaN        NaN         AP      NaN
1    B       4       2     M   ...        NaN        NaN   Gujarath      NaN
2    C       5       2      F  ...        NaN        NaN         AP      NaN
3    D       6       3      F  ...        NaN        NaN  Telangana      NaN
4    E       7       3      F  ...        NaN        NaN     Orrisa      NaN

[5 rows x 13 columns]

In [10]:
df.fillna(0)

   Name  Months  Height Gender  ...  Feature 5  Feature 6     Location  Remarks
0     A       3       4      M  ...        0.0        0.0           AP      0.0
1     B       4       2     M   ...        0.0        0.0     Gujarath      0.0
2     C       5       2      F  ...        0.0        0.0           AP      0.0
3     D       6       3      F  ...        0.0        0.0    Telangana      0.0
4     E       7       3      F  ...        0.0        0.0       Orrisa      0.0
5     F       3       4      M  ...        0.0        0.0        Bihar      0.0
6     G       5       5      M  ...        0.0        0.0   Maharastra      0.0
7     H       6       2      M  ...        0.0        0.0  West Bengal      0.0
8     I      12       1      F  ...        0.0        0.0        Bihar      0.0
9     J      15       5      M  ...        0.0        0.0           SD      0.0
10    K       8       5      M  ...        0.0        0.0   Tamil nadu      0.0
11    L       5       5      F  ...        0.0        0.0           SD      0.0
12    M       9       8      F  ...        0.0        0.0  West Bengal      0.0
13    N      10       8      M  ...        0.0        0.0           AP      0.0
14    O      10       1      F  ...        0.0        0.0   Tamil nadu      0.0
15    P      12       3      M  ...        0.0        0.0    Rajasthan      0.0
16    Q       6       5      F  ...        0.0        0.0        Assam      0.0
17    R      11       3      F  ...        0.0        0.0        Delhi      0.0
18    S      14       2      M  ...        0.0        0.0    Karnataka      0.0
19    T      11       1      F  ...        0.0        0.0       Punjab      0.0
20    U      19       8      M  ...        1.0        1.0           UP      0.0

[21 rows x 13 columns]

In [11]:
df[df.columns.drop(['Name', 'Height'])]

    Months Gender    Contact  ...  Feature 6     Location  Remarks
0        3      M  988885565  ...        NaN           AP      NaN
1        4     M   988885565  ...        NaN     Gujarath      NaN
2        5      F  988885565  ...        NaN           AP      NaN
3        6      F  988885565  ...        NaN    Telangana      NaN
4        7      F  988885565  ...        NaN       Orrisa      NaN
5        3      M  988885565  ...        NaN        Bihar      NaN
6        5      M  988885565  ...        NaN   Maharastra      NaN
7        6      M  988885565  ...        NaN  West Bengal      NaN
8       12      F  988885565  ...        NaN        Bihar      NaN
9       15      M  988885565  ...        NaN           SD      NaN
10       8      M  988885565  ...        NaN   Tamil nadu      NaN
11       5      F  988885565  ...        NaN           SD      NaN
12       9      F  988885565  ...        NaN  West Bengal      NaN
13      10      M  988885565  ...        NaN           AP      NaN
14      10      F  988885565  ...        NaN   Tamil nadu      NaN
15      12      M  988885565  ...        NaN    Rajasthan      NaN
16       6      F  988885565  ...        NaN        Assam      NaN
17      11      F  988885565  ...        NaN        Delhi      NaN
18      14      M  988885565  ...        NaN    Karnataka      NaN
19      11      F  988885565  ...        NaN       Punjab      NaN
20      19      M  988885565  ...        1.0           UP      NaN

[21 rows x 11 columns]

In [16]:
#visualization