In [6]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [7]:
df = pd.read_csv('samvikas_data.csv')

In [8]:
df

   Name  Months  Height Gender  ...  Feature 5  Feature 6     Location  Remarks
0     A       3       4      M  ...        NaN        NaN           AP      NaN
1     B       4       2     M   ...        NaN        NaN     Gujarath      NaN
2     C       5       2      F  ...        NaN        NaN           AP      NaN
3     D       6       3      F  ...        NaN        NaN    Telangana      NaN
4     E       7       3      F  ...        NaN        NaN       Orrisa      NaN
5     F       3       4      M  ...        NaN        NaN        Bihar      NaN
6     G       5       5      M  ...        NaN        NaN   Maharastra      NaN
7     H       6       2      M  ...        NaN        NaN  West Bengal      NaN
8     I      12       1      F  ...        NaN        NaN        Bihar      NaN
9     J      15       5      M  ...        NaN        NaN           SD      NaN
10    K       8       5      M  ...        NaN        NaN   Tamil nadu      NaN
11    L       5       5      F  ...        NaN        NaN           SD      NaN
12    M       9       8      F  ...        NaN        NaN  West Bengal      NaN
13    N      10       8      M  ...        NaN        NaN           AP      NaN
14    O      10       1      F  ...        NaN        NaN   Tamil nadu      NaN
15    P      12       3      M  ...        NaN        NaN    Rajasthan      NaN
16    Q       6       5      F  ...        NaN        NaN        Assam      NaN
17    R      11       3      F  ...        NaN        NaN        Delhi      NaN
18    S      14       2      M  ...        NaN        NaN    Karnataka      NaN
19    T      11       1      F  ...        NaN        NaN       Punjab      NaN
20    U      19       8      M  ...        1.0        1.0           UP      NaN

[21 rows x 13 columns]